<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016017414844-8e5q7hjc7kallajt704b7uohkili6kjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016017414844-8e5q7hjc7kallajt704b7uohkili6kjp</string>
	<key>API_KEY</key>
	<string>AIzaSyCSFsfYW6zxnPmcQg-l279PWEU6I7g4tYM</string>
	<key>GCM_SENDER_ID</key>
	<string>1016017414844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cortex.dailyConcept</string>
	<key>PROJECT_ID</key>
	<string>daily-concepts-d8fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-concepts-d8fe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016017414844:ios:8a94c615bec908f1783eb9</string>
</dict>
</plist>